
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
}

.base{
  width: 100%;
  background: white;
  font-size: 1rem;
}

/*parallax*/

.parallax{
  background: url('/img/giant.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.parallax2{
  background: url('/img/space_1.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.parallax3{
  background: url('/img/lake-moraine.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.parallax4{
  background: url('/img/lusen.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.parallax5{
  background: url('/img/saint-quai-portrieux.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

/*animation+logo*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1190 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 35%;
  width: 500px;
  height: auto;
  background: #00000000;
  text-align: center;
}
figure.snip1190 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1190 img {
  opacity: 0.8;
  width: 100%;
}
figure.snip1190 figcaption {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
figure.snip1190 h2 {
  font-size: 3rem;
  font-weight: 400;
  left: 0;
  right: 0;
  letter-spacing: -1px;
  margin: 0 auto;
  position: absolute;
  text-transform: uppercase;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1190 h2 span {
  font-size: 3rem;
  font-weight: 800;
}
figure.snip1190 p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0;
  font-size: 2rem;
  -webkit-transform: translateY(-20%) scale(0.7);
  transform: translateY(-20%) scale(0.7);
}
figure.snip1190 .square {
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after,
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
figure.snip1190 .square:before,
figure.snip1190 .square:after {
  width: 65%;
  height: 2px;
}
figure.snip1190 .square div:before,
figure.snip1190 .square div:after {
  width: 2px;
  height: 65%;
}
figure.snip1190 .square:before,
figure.snip1190 .square div:before {
  left: 0;
  top: 0;
}
figure.snip1190 .square:after,
figure.snip1190 .square div:after {
  bottom: 0;
  right: 0;
}
figure.snip1190 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1190:hover img,
figure.snip1190.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1190:hover h2,
figure.snip1190.hover h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
figure.snip1190:hover p,
figure.snip1190.hover p {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
figure.snip1190:hover .square:before,
figure.snip1190.hover .square:before {
  width: 38%;
}
figure.snip1190:hover .square div:before,
figure.snip1190.hover .square div:before {
  height: 38%;
}
figure.snip1190:hover .square:after,
figure.snip1190.hover .square:after {
  width: 55%;
}
figure.snip1190:hover .square div:after,
figure.snip1190.hover .square div:after {
  height: 55%;
}

/*presentation*/

.presentation{
  background: black;
  padding: 50px;
    h2{
      font-size: 2rem;
      color: #fff;
      text-align: center;
    }
    p{
      color: white;
      text-align: center;
      font-size: 1.3rem;
    }
}

/*skills*/

.skillsP{
  text-align: center;
  padding: 50px;
  font-size: 1.3rem;
}
.skillsList{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.skillsFrame{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

/*projects*/

.projects{
  background: black;
  padding: 50px;
    h2{
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-bottom: 50px;
    }
    p{
      color: white;
      text-align: center;
      font-size: 1.3rem;
    }
}

/*////////////////////////////////////////*/
/* Layout */

.panels {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: $overlayColor;
  pointer-events: none;
}

.panels__container {
  display: flex;
  justify-content: center;
  align-items: stretch;  
  height: 100%;
  width: 110%;
  margin: 5 -($offsetSize);
  visibility: hidden; 
}

.panel {
  display: inline-block;
  height: 100%;
  visibility: visible;
  position: relative; 
  overflow: hidden;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
}

/*////////////////////////////////////////*/
/* Image/Text Container */

.panel__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center center no-repeat;
  background-size: cover;
  
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: $overlayColor;
    opacity: 0.5;
    transition: opacity $duration $ease;
  }
}

/*////////////////////////////////////////*/
/* Title */

.panel__title {
  pointer-events: auto;
  color: $textColor;
  position: relative;
  z-index: 1;
  transition: color $duration $ease;
  
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: $overlayColor;
    background: fade($overlayColor,70%);
    border: solid 2px $borderColor;
    z-index: -1;
    padding: 0.5em 1em;
    margin: -0.5em -1em;
    
    opacity: 0;
    transform: scale(0.9);
    transition: all $duration $ease;
    transition-property: opacity, transform;
  }
}

/*////////////////////////////////////////*/
/* Hover States */

.panel {
  transform: translate3d(0,0,0);
  transition: transform $duration $ease;
  
  .panel__content { 
    transform: translateX($offsetSize);
    transition: transform $duration $ease;
  }
  
  &:last-child .panel__content {
    transform: translateX(-$offsetSize);
  }
  
  /* Inactive panel */
  .panels:hover & {
    transform: translate3d(-$offsetSize, 0, 0); 
      
    .panel__content { 
      transform: translateX($contentOffset);             
      &:before { opacity: 0.7; }
    }
  }
  
  /* Override styles for an inactive panel AFTER the hovered panel */
  .panels &:hover ~ & { 
    transform: translate3d($offsetSize, 0, 0);
    
    .panel__content { 
      transform: translateX(-$contentOffset);
    }
  }
  
  /* Active panel */
  .panels &:hover { 
    z-index: 2;
    transform: translate3d($offsetSize,0,0);
    pointer-events: auto;
    
    &:last-child { transform: translate3d(-$offsetSize,0,0); }
    
    .panel__content { 
      transform: translateX(0%);
      &:before { opacity: 0; }
    }
    
    .panel__title {
      color: $highlightColor;

      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }
  } 
}

/*////////////////////////////////////////*/
/* Vertical layout */

.panels--stacked {
  
  .panels__container {
    width: 100%;
    height: 120%;
    margin: -($offsetSize) 0;
    flex-direction: column;
  }

  .panel {
    height: 50%;
    width: 100%;
    transform: translate3d(0, 0, 0);

    .panel__content {
      transform: translate3d(0, $offsetSize, 0);
    }

    &:last-child .panel__content {
      transform: translate3d(0, -$offsetSize,0);
    }
  }
  
    /* Inactive panel */
  &:hover .panel {
    transform: translate3d(0, -$offsetSize, 0);

    .panel__content {
      transform: translate3d(0, $contentOffset, 0);
    }
  }

  /* Override styles for an inactive panel AFTER the hovered panel */
  & .panel:hover ~ .panel {
    transform: translate3d(0, $offsetSize, 0);

    .panel__content {
      transform: translate3d(0, -$contentOffset, 0);
    }
  }

  /* Active panel */
  & .panel:hover {
    transform: translate3d(0, $offsetSize, 0);

    &:last-child { transform: translate3d(0, -$offsetSize, 0); }

    .panel__content {
      transform: translate3d(0, 0, 0);
    }
  }
}


/*////////////////////////////////////////*/
/* Specific Design Setup */

@import url('https://fonts.googleapis.com/css?family=Oswald');

.panel__title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-top: 250px;
  
  @media (max-width: 800px) {
    font-size: 1.5em;
  }
  @media (max-width: 600px) {
    font-size: 1.25em;
  }
}

/*training*/

h1{
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.training{
  background: white;
  padding: 25px;
  display: flex;
  justify-content: space-around;
    h2{
      font-size: 2rem;
      color: black;
      text-align: center;
      margin-bottom: 50px;
    }
    p{
      color: black;
      text-align: center;
      font-size: 1.3rem;
    }
}

/*contact*/

.contact{
  background: black;
  padding: 50px;
    h2{
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-bottom: 50px;
    }
    p{
      color: white;
      text-align: center;
      font-size: 1.3rem;
    }
}

.training{
  p{
    display: block;
  }

  .logo-acs{
    background: black;
    margin-left: 50px;
  }
}

.contact{
  color: white;
  text-align: center;

}